/* Make the monthbox inputgrid look special */
div#ogevents-monthbox table.wb-inputgrid tbody th {
  display: none;
}
div#ogevents-monthbox table.wb-inputgrid thead th.emptyheader {
  display: none;
}
div#ogevents-monthbox table.wb-inputgrid tbody tr.sum {
  display:none;
}

/* These rules override the defaults provided from theme_table() */
table.wb-inputgrid tr.even td, table.wb-inputgrid tr.odd td {
  padding: 0px;
}
table.wb-inputgrid tr.even, table.wb-inputgrid tr.odd {
  background-color: transparent;
  border-bottom: none;
}

/* Rules to make the input grid looks right, starting with a blank <table> */

table.wb-inputgrid {
	width: auto;
}

table.wb-inputgrid, table.wb-inputgrid td, table.wb-inputgrid tr, table.wb-inputgrid th {
	margin:0;
	padding:0;
}

table.wb-inputgrid tbody th {
	padding-right: 1em;
}

table th.emptyheader {
	border-bottom: none;
}
table.wb-inputgrid tbody {
	border-top: none;
}

table.wb-inputgrid input {
	margin: 0px;
	border: 0px;
	background-color: #E7E7E7;
	width: 4em;
}

table.wb-inputgrid td {
	border: 1px solid #CCC;
}

table.wb-inputgrid tbody th {
	border: none;
	border-right: 2px solid #CCC;
	text-align: right;
}

table.wb-inputgrid tbody .hover { /* jQuery hover effect from style-table.js */
	background:#EEEEEE;
}

table.wb-inputgrid tbody tr input.input-error {
  background: #CC0000;
}

table.wb-inputgrid tbody tr input.input-error.hover {
  background: #FF0000;
}

table.wb-inputgrid thead th {
  text-align: center;
}
table.wb-inputgrid span.logo {
	background-repeat: no-repeat;
	height:30px;
	width:30px;
	display: block;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}
th.walk span.logo {
	background-image: url('images/walk.png');
}
th.bike span.logo {
	background-image: url('images/bike.png');
}
th.other span.logo {
	background-image: url('images/skate.png');
}

table.wb-inputgrid tr.sum td {
	border: none;
	border-top: 2px solid #CCC;
	padding-left: 2px;
}
table.wb-inputgrid tbody tr.sum th {
	border: none;
}


#ogevents-tallybox h3 {
	text-align: right;
}

#ogevents-tally-form input#edit-submit {
  margin-top: .75em;
  float: right;
}

#ogevents-tally-form input#edit-update-totals {
	margin-left: .5em;
  margin-top: .75em;
  float: right;
}


div#ogevents-tally-control {
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: auto;
}

div#ogevents-tallybox {
  float: left;
  padding-right: 2em;
}

div#ogevents-monthbox {
  float: left;
  width: 22em;
  border-left: #C0C0C0 1px dotted;
  padding-left: 2em;
}

div#ogevents-tally-control h3 {
  border-bottom: #C0C0C0 1px dotted;
  margin-bottom: .5em;
}


fieldset.ogevents-participation
{
  border: none;
  padding-left: 0px;
}
